.home {
    background: var(--color-bg-2);
}

/* Navbar */

.home-navbar {
    width: 100vw;
    height: 80px;
    background: var(--color-bg-1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 45px;
    border-radius: 8px;
    margin-right: 10px;
}

.logo-container span {
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-right-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navbar-right-links li a {
    color: var(--color-text-grey);
    transition: 0.3s;
    font-weight: 600;
}

.navbar-right-links li a:hover {
    color: var(--color-accent-1);
}

.navbar-right-btn a {
    padding: 0.8rem 1.6rem;
    border-radius: 10px;
    background: var(--color-bg-dark);
    color: var(--color-bg-1);
    font-weight: 700;
    outline: 2px solid var(--color-bg-dark);
    transition: 0.3s;
}

.navbar-right-btn a:hover {
    background: var(--color-bg-1);
    color: var(--color-text-dark);
}

/* Hero */

.home-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 4rem 4rem 4rem;
    align-items: center;
    gap: 30px;
}

.home-hero-title {
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
}

.home-hero-subtitle {
    text-align: center;
    font-size: 1.5rem;
    width: 900px;
    color: var(--color-text-grey);
    font-weight: 500;
}

.home-hero-btns a {
    padding: 1.2rem 2.4rem;
    border-radius: 18px;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 5px;
}

.home-hero-btns a.blue {
    /* background: var(--color-accent-1); */
    background: linear-gradient(37deg, var(--color-accent-1), var(--color-accent-2));
    color: white;
    box-shadow: 0 8px 20px var(--color-accent-1-light);
}

.home-hero-btns a.light {
    background: var(--color-bg-1);
    color: var(--color-text-dark);
    border: 1px solid var(--color-border-grey);
}